// Adds necessary CSS for a spritesheet-based element.
// Extended elements should provide a fixed width, height, and
// background-position.
@mixin sprite($url: '../img/spritesheet.png', $url-r: '../img/spritesheet.png', $width: 425px, $height: 350px) {
  background-image: url($url);
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;

  @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url($url-r);
    background-size: $width $height;
  }
}