.tt-menu {
    background-color: $white;
    font-size: 13px !important;
    width: 100%;

    @include media-breakpoint-up(sm) {
        font-size: 16px !important;
    }
}

.tt-suggestion {
    color: $black;
    margin-bottom: 0;
    overflow: hidden;
    padding: 8px 20px;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.tt-cursor,
    &:focus,
    &:hover {
      background-color: $gray-light;

      .suggestion-match-type {
        color: $gray-dark;
      }
    }
}

.audience-list {
    [type="checkbox"] {
        @extend .form-check-input;
    }
}